<div class="page-header">
  <h1><em>scoata</em> <small>alpha</small></h1>
  <p class="danger"><span class="label label-warning">warning!</span> alpha版のためデータは予期無く削除されます</p>
</div>


<h3>これは何？</h3>
<p><strong>オンライン大会を支援するサイトです。</strong></p>
<p>はじめは音楽ゲームのランキングを誰でも簡単に開催できるサービスとして企画されましたが、<br/>
それに留まらず、テストの点数や体重など様々なスコアを登録できるようにするのが目標です。</p>

<h3>サイトポリシー</h3>
<p>Web上にはいろいろなスコアがありますが、分散してしまっていて管理するのが難しくなってきています。<br/>
このサイトは、スコアの登録や参照などの操作をWeb APIを通じて簡単にアクセスできるようにします。</p>
<p>一緒に開発に参加していただける方を募集しています。<br/>
興味がある方は<a href="https://twitter.com/konoki_nannoki">@konoki_nannoki</a>にコンタクトをお願いします。<br/>
また、ソースコードを公開しています。<a href="https://github.com/shinnoki/scoata">github</a><br/>

<h3>TODO</h3>
<ul>
  <li>score recordの追加、表示</li>
  <li>アクセスレベルの制限</li>
</ul>

<h3>更新履歴</h3>
<p>2013/07/10 githubに載せてみました</p>
<p>2013/07/09 item機能を追加しました</p>
<p>2013/07/08 twitter認証を追加しました</p>
<p>2013/07/07 こっそり開始</p>

<!--
<pre>{{ records }}</pre>
-->
