<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>scoata</title>
		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css"/>
    <style type ="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-responsive.min.css"/>
	</head>
	<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">scoata</a>
          <div class="nav-collapse collapse  pull-right">
            <ul class="nav">
              <li><a href="#">sign in</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <h1>scoata <small>alpha</small></h1>

      <h3>これは何？</h3>
      <p><strong>オンライン大会を支援するサイトです。</strong></p>
      <p>はじめは音楽ゲームのランキングを誰でも簡単に開催できるサービスとして企画されましたが、<br/>
      それに留まらず、テストの点数や体重など様々なスコアを登録できるようにするのが目標です。</p>

      <h3>サイトポリシー</h3>
      <p>Web上にはいろいろなスコアがありますが、分散してしまっていて管理するのが難しくなってきています。<br/>
      このサイトは、スコアの登録や参照などの操作をWeb APIを通じて簡単にアクセスできるようにします。<br/>
      
      </p>
      <p>一緒に開発に参加していただける方を募集しています。<br/>
      興味がある方は@konoki_nannokiにコンタクトをお願いします。<br/>
      また、ソースコードをgithubに公開しています。<br/>

      <h3>TODO</h3>
      <ul>
        <li>twitter認証</li>
        <li>score itemの作成</li>
      </ul>

      <h3>更新履歴</h3>
      <p>2013/07/07 こっそり開始</p>
    </div>
	</body>
</html>
