<!DOCTYPE html>
<html lang="ja" data-ng-app="app">
	<head>
		<meta charset="utf-8">
		<title>scoata</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
	</head>
	<body>
    <div class="navbar navbar-fixed-top" data-ng-controller="NavCtrl">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">scoata</a>
          <div class="pull-right">
            <ul class="nav">
              <li ng-show="login"><a href="/logout"><img class="profile_image" ng-src="{{ user.profile_image_url }}"> logout</a></li>
              <li ng-hide="login"><a href="/auth/twitter">sign in with twitter</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container" data-ng-controller="MainCtrl">
      <h1><i>scoata</i> <small>alpha</small></h1>

      <h5>登録ユーザ一覧</h5>
      <p><span ng-repeat="user in users" ng-cloak>{{ user.username }} </span></p>
      <h3>これは何？</h3>
      <p><strong>オンライン大会を支援するサイトです。</strong></p>
      <p>はじめは音楽ゲームのランキングを誰でも簡単に開催できるサービスとして企画されましたが、<br/>
      それに留まらず、テストの点数や体重など様々なスコアを登録できるようにするのが目標です。</p>

      <h3>サイトポリシー</h3>
      <p>Web上にはいろいろなスコアがありますが、分散してしまっていて管理するのが難しくなってきています。<br/>
      このサイトは、スコアの登録や参照などの操作をWeb APIを通じて簡単にアクセスできるようにします。<br/>
      
      </p>
      <p>一緒に開発に参加していただける方を募集しています。<br/>
      興味がある方は<a href="https://twitter.com/konoki_nannoki">@konoki_nannoki</a>にコンタクトをお願いします。<br/>
      また、ソースコードをgithubに公開しています。(予定)<br/>

      <h3>TODO</h3>
      <ul>
        <li>score itemの作成</li>
      </ul>

      <h3>更新履歴</h3>
      <p>2013/07/08 twitter認証とりあえず完成</p>
      <p>2013/07/07 こっそり開始</p>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-cookies.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
	</body>

</html>
